<div class='social-buttons'>
	<button class='neo-button'><i class='fa fa-facebook fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-linkedin fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-google fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-dribbble fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-twitter fa-2x'></i> </button>
</div>

<div class='media-links'>
	<ul class='list-inline list-unstyled'>
		<li>
			<a href='#' title='facebook link'>
				<span class='fa fa-facebook-square fs35 text-primary'></span>
			</a>
		</li>
		<li>
			<a href='#' title='twitter link'>
				<span class='fa fa-twitter-square fs35 text-info'></span>
			</a>
		</li>
		<li>
			<a href='#' title='google plus link'>
				<span class='fa fa-google-plus-square fs35 text-danger'></span>
			</a>
		</li>
		<li class='hidden'>
			<a href='#' title='behance link'>
				<span class='fa fa-behance-square fs35 text-primary'></span>
			</a>
		</li>
		<li class='hidden'>
			<a href='#' title='pinterest link'>
				<span class='fa fa-pinterest-square fs35 text-danger-light'></span>
			</a>
		</li>
		<li class='hidden'>
			<a href='#' title='linkedin link'>
				<span class='fa fa-linkedin-square fs35 text-info'></span>
			</a>
		</li>
		<li class='hidden'>
			<a href='#' title='github link'>
				<span class='fa fa-github-square fs35 text-dark'></span>
			</a>
		</li>
		<li class=''>
			<a href='#' title='phone link'>
				<span class='fa fa-phone-square fs35 text-system'></span>
			</a>
		</li>
		<li>
			<a href='#' title='email link'>
				<span class='fa fa-envelope-square fs35 text-muted'></span>
			</a>
		</li>
		<li class='hidden'>
			<a href='#' title='external link'>
				<span class='fa fa-external-link-square fs35 text-muted'></span>
			</a>
		</li>
	</ul>
</div>