<div class='social-buttons'>
	<button class='neo-button'><i class='fa fa-facebook fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-linkedin fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-google fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-dribbble fa-2x'></i> </button>
	<button class='neo-button'><i class='fa fa-twitter fa-2x'></i> </button>
</div>