<div class="panel">
<div class='comments'>
	{{#each this}}
		<section class='comment'>
			<div class='meta'>
				{{user.username}}
			</div>
			<h4 class="post-title">Comment:</h4>
			<div class='text interests'>
				{{comment_text}}
			</div>
		</section>

	{{/each}}
</div>
</div>