<div class='interests-buttons'>
	{{!-- {{> interest-buttons interests}} --}}
	<div id='interestId' role='group' class='row wrapper btn-group'>
		<div class='col-md-12 btn-group'>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					{{! data-mdb-ripple-color='dark' }}
					id='reading'
				>reading</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='eating'
				>eating</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='drinking'
				>drinking</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='sports'
				>sports</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='games'
				>games</button>
			</div>
		</div>
		<div class='col-md-12 btn-group'>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='coding'
				>coding</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='exercise'
				>exercise</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='movies'
				>movies</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='travel'
				>travel</button></div>
			<div class='btn'>
				<button
					type='button'
					class='btn btn-outline-primary btn-rounded'
					data-mdb-ripple-color='dark'
					id='animals'
				>animals</button></div>
		</div>
	</div>
</div>

{{!-- <div class='interests'>
	{{#each this}}
		<section class='interest'>

			<div class='text'>
				{{interest_id}}
			</div>
		</section>
	{{/each}}
</div> --}}

{{!-- <div class='btn'>
	{{#each }}
	<button
		type='button'
		class='btn btn-outline-primary btn-rounded'
		data-mdb-ripple-color='dark'
		id='animals'
	>animals</button>
</div> --}}