<div id='wrapper'>
	<div class='col'>

		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='reading'
			data-mdb-ripple-color='dark'
		>
			Reading</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='eating'
			data-mdb-ripple-color='dark'
		>
			Eating</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='drinking'
			data-mdb-ripple-color='dark'
		>
			Drinking</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='sports'
			data-mdb-ripple-color='dark'
		>
			Sports</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='games'
			data-mdb-ripple-color='dark'
		>
			Games</button></div><div class='col'>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='coding'
			data-mdb-ripple-color='dark'
		>
			Coding</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='exercise'
			data-mdb-ripple-color='dark'
		>
			Exercise</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='movies'
			data-mdb-ripple-color='dark'
		>
			Movies</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='travel'
			data-mdb-ripple-color='dark'
		>
			Travel</button>
		<button
			type='button'
			class='interest-item btn btn-outline-primary btn-rounded'
			id='animals'
			data-mdb-ripple-color='dark'
		>
			Animals</button></div>
</div>