{{#each interests-buttons}}
	<li class='row'>
		<button
			type='button'
			class='interest-btn btn-outline-primary btn-rounded'
			data-mdb-ripple-color='dark'
			id='animals'
		>animals</button>
	</li>
{{/each}}