{{#each this}}
	<div id='interests' class='btn'>

		<button
			type='button'
			class='btn btn-outline-primary btn-rounded'
			data-mdb-ripple-color='dark'
			id='animals'
		>animals</button>
	</div>
{{/each}}