
{{!-- Edit Post --}}
<div class="panel">
    <article class="interest dashboard-items">
                <h1>
                    Edit Post
                </h1>
        <div class="add-post">
            
            <form class="interests edit-post-form">
                
                <div class="add-post-info">
                    {{!-- <label for="comment">Add Your Post </label> --}}
                    <h4 class="post-title">Modify Post Title Below</h4>
                    <input id="post-title-input" name="post-title" type="text" value="{{post.title}}" />
                    <h4 class="post-title">Modify Your Post Content Below</h4>
                    <textarea name="edit-content" type="text" cols="65" rows="5" value="{{post.content}}"></textarea>
                </div>
                <div>
                    <a class="" href="/dashboard"> &larr; Back to dashboard</a>
                <button type="submit" class="content-btn">Save post</button>
                <button type="button" class="content-btn delete-post-btn">Delete post</button>
            </div>
            </form>
        </div>
    </article>
</div>
<div class="panel"></div>

{{!-- Add a comment section --}}
<div class="panel">
    <div class="comment-info">
        {{#if loggedIn}}
        <div >
            <h2>
               Add a Comment
            </h2>
        </div>
        <form class=" interests comment-form">
            <div class="add-post-info">
                <label for="comment">Your Comments </label>
                <textarea name="comment-body" cols="40" rows="5"></textarea>
            </div>
            <div>
            <button id="submitComment" type="submit" class="content-btn">add comment</button>
            </div>
        </form>
        {{/if}}
    </div>
</div>

{{> comments post.Comments}}


<script src="/javascript/edit-post.js"></script>

<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>