



<a href="/dashboard"> &larr; Back to dashboard</a>
{{!-- new one --}}
<div class="panel">
    <article class="dashboard-items">

        <div class="panel-heading">
            <h3 class='panel-title'>
                <span>Edit Post</span>
            </h3>
        </div>
        <div class="add-post">
            <form class="edit-post-form">
                <div class="add-post-info">
                    {{!-- <label for="comment">Add Your Post </label> --}}
                    <h4>Modify Post Title Below</h4>
                    <input id="post-title-input" name="post-title" type="text" value="{{post.title}}" />
                    <h4>Modify Your Post Content Below</h4>
                    <input name="edit-content" type="text" value="{{post.content}}" />
                </div>

                <button type="submit" class="content-btn">Save post</button>
                <button type="button" class="content-btn delete-post-btn">Delete post</button>
            </form>
        </div>
    </article>

    <div class="comment-info">
        {{#if loggedIn}}
        <form class="comment-form">
            <div class="add-post-info">
                <label for="comment">Your Comments </label>
                <textarea name="comment-body" cols="40" rows="5"></textarea>
            </div>

            <div>

                <button id="submitComment" type="submit" class="content-btn">add comment</button>
               
            </div>
        </form>
        {{/if}}
    </div>

</div>
{{> comments post.Comments}}


<script src="/javascript/edit-post.js"></script>

<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>