<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
              |
            {{post.id}}
           
        <button type="submit">Save post</button>
        {{!-- <button type="button" class="delete-post-btn">Delete post</button> --}}
    </form>
</article>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">herelike</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
{{!-- <script src="/javascript/delete-post.js"></script> --}}
<script src="/javascript/comment.js"></script>