<div class="search-wrap px-4 py-5 mx-auto">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-lg-8 my-5"><h4> Meet like minded individuals.</h4><h4>Make new friends! & Blog about your interests!</h4>
                        <h3 class="mb-3">
                            <h1> Join High 5 today!</h1> <small class="text-muted"><br></small>
                        <div class="form-group mt-5"> <input type="text" id="username" class="form-control" required placeholder="User Name"> <label class="form-control-placeholder" for="name"></label> </div>
                        <div class="form-group mt-4"> <input type="password" id="password" class="form-control" required placeholder="Password"> <label class="form-control-placeholder" for="mail"></label> </div>
                        <div class="row justify-content-center my-3"> <button id="loginBtn" class="btn btn-gray">Log in</button> </div>
                        <div class="row justify-content-center my-3"> <button id="signUpBtn" class="btn btn-gray">Sign up</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>