<div class="container d-flex justify-content-center mt-5">
    <div class="card">
        <h4 class="text-center pt-4">High5!</h4> <span class="info">High5! Creates a shared experience of unique cultural practices of different online affinity networks, and how they interact with one another brings together youth interests, social activities, accomplishments, and career relevant arenas. For some an online community is a part of growing up in the networked age. </span>
        <div class="form-group container"> 
			<input id="username" type="username" name="username" placeholder="username" class="form-control form"> 
			<input id="email" type="email" name="email" placeholder="email" class="form-control form"> <input id="password" type="password" name="password" placeholder="password" class="form-control"> </div>
        <div class="text-center container"> <button type="button" class="btn">Register</button>
            <div class="d-flex justify-content-between container strech"><span>Go To Sign Up</span></div>
        </div>
        <div class="text-center pb-4 pt-3">
            <div class="pt-3 d-flex flex-row px-3"> <button type="button" class="btn btn-success fb mr-2">Sign-up</button> </div>
        </div>
    </div>
</div>
</div>

<script src="/javascript/login.js"></script>
