<div class='container d-flex justify-content-center mt-5'>
	<div class='card'>
		<h4 class='text-center pt-4'>High5!</h4>
		<span class='info'>Show your intersts</span>
		<div class='form-group container'>
			<div class='card'>
				<input
					type='username'
					name='username'
					placeholder='username'
					class='form-control form'
				/>
			</div>
			<div class='card'><input
					type='email'
					name='email'
					placeholder='email address'
					class='form-control form'
				/></div>
			<div class='card'><input
					type='password'
					name='password'
					placeholder='password'
					class='form-control'
				/></div>
		</div>
		<div class='text-center container'>
			<button type='button' class='btn'>Register</button>
			<div class='d-flex justify-content-between container strech'><span><a
						href='/signup'
					>Go To Sign Up</a></span></div>

		</div>
	</div>
</div>