<<<<<<< HEAD
<div class="container d-flex justify-content-center mt-5">
    <div class="card">
        <h4 class="text-center pt-4">Hola!</h4> <span class="info">To all special dicounts and more <br> become a member!</span>
        <div class="form-group container"> <input id="username" type="username" name="username" placeholder="username" class="form-control form"> <input id="password" type="password" name="password" placeholder="password" class="form-control"> </div>
        <div class="text-center container"> <button type="button" class="btn">Register</button>
            <div class="d-flex justify-content-between container strech"><span>Go To Sign Up</span></div>
        </div>
        <div class="text-center pb-4 pt-3">
            <div class="pt-3 d-flex flex-row px-3"> <button type="button" class="btn btn-success fb mr-2">Sign-up</button> </div>
        </div>
    </div>
</div>
</div>

<script src="/javascript/logout.js"></script>
=======
<div class='container d-flex justify-content-center mt-5'>
	<div class='card'>
		<h4 class='text-center pt-4'>Hola!</h4>
		<span class='info'>To all special dicounts and more
			<br />
			become a member!</span>
		<div class='form-group container'>
			<input
				type='username'
				name='username'
				placeholder='username'
				class='form-control form'
			/>
			<input
				type='password'
				name='password'
				placeholder='password'
				class='form-control'
			/>
		</div>
		<div class='text-center container'>
			<button type='button' class='btn'>Sign-up</button>
			<div class='d-flex justify-content-between container strech'><span>Go To
					Login</span>/div>
			</div>

		</div>
	</div>
</div>
>>>>>>> 9d6d9656301903ed470de1ae9fe1b0230f2052ba
