<div class='container d-flex justify-content-center mt-5'>
	<div class='card'>
		<h4 class='text-center pt-4'>Hola!</h4>
		<span class='info'>To all special dicounts and more
			<br />
			become a member!</span>
		<div class='form-group container'>
			<input
				type='username'
				name='username'
				placeholder='username'
				class='form-control form'
			/>
			<input
				type='password'
				name='password'
				placeholder='password'
				class='form-control'
			/>
		</div>
		<div class='text-center container'>
			<button type='button' class='btn'>Sign-up</button>
			<div class='d-flex justify-content-between container strech'><span>Go To
					Login</span>/div>
			</div>

		</div>
	</div>
</div>