<div class='principal-container'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-4 img-content'>
				<img
					class='img-sign-up img-thumbnail'
					src='/assets/images/sign-up.png'
				/>
			</div>
			<div class='col-md-7 form-content'>
				<h1 class='title'>High5!</h1>

				<p>
					Are you bored? Don't have plans tonight? We have the perfect app for
					you. This app will help you find a close-knit group of people that you
					can vent to about your problems or share your excitement about your
					team winning the championship. If you're new to town or just want to
					connect with new people join High 5! High 5! allows you to create
					blogs, interact with blogs, and follow current members that have
					similar interests as you. Sign up today!
				</p>

				<div class='sign-up-form'>
					<form class='form-horizontal' role='form'>
						<div class='form-group mb-3'>
							{{! <label for='inputEmail3' class='form-label'>Email</label> }}
							<div class='col-sm-10'>
								<input
									type='email'
									class='form-control'
									id='inputEmail3'
									placeholder='Email'
								/>
							</div>
						</div>
						<div class='form-group mb-3'>
							{{! <label
							for='inputUsername3'
							class='col-sm-2 form-label'
						>Username</label> }}
							<div class='col-sm-10'>
								<input
									type='username'
									class='form-control'
									id='inputUsername3'
									placeholder='Username'
								/>
							</div>
						</div>
						<div class='form-group mb-3'>
							{{! <label
							for='inputPassword3'
							class='col-sm-2 form-label'
						>Password</label> }}
							<div class='col-sm-10'>
								<input
									type='password'
									class='form-control'
									id='inputPassword3'
									placeholder='Password'
								/>
							</div>
						</div>
					</div>
					<h3>Enter your five interests below!</h3>
					<div class='form-group mb-3'>
						{{! <label
							for='inputPassword3'
							class='col-sm-2 form-label'
						>Password</label> }}
						<div class='col-sm-10'>
							<input
								type='interest1'
								class='form-control'
								id='interest1'
								placeholder='drinks'
							/>
						</div>
					</div>
					<div class='form-group mb-3'>
						{{! <label
							for='inputPassword3'
							class='col-sm-2 form-label'
						>Password</label> }}
						<div class='col-sm-10'>
							<input
								type='text'
								class='form-control'
								id='interest2'
								placeholder='coding'
							/>
						</div>
					</div>
					<div class='form-group mb-3'>
						{{! <label
							for='inputPassword3'
							class='col-sm-2 form-label'
						>Password</label> }}
						<div class='col-sm-10'>
							<input
								type='text'
								class='form-control'
								id='interest3'
								placeholder='movies'
							/>
						</div>
					</div>
					<div class='form-group mb-3'>
						{{! <label
							for='inputPassword3'
							class='col-sm-2 form-label'
						>Password</label> }}
						<div class='col-sm-10'>
							<input
								type='text'
								class='form-control'
								id='interest4'
								placeholder='exercise'
							/>
						</div>
					</div>
					<div class='form-group mb-3'>
						{{! <label
							for='inputPassword3'
							class='col-sm-2 form-label'
						>Password</label> }}
						<div class='col-sm-10'>
							<input
								type='text'
								class='form-control'
								id='interest5'
								placeholder='travel'
							/>
						</div>
					</div>


						<div class='form-group'>
							<div class='col-sm-offset-2 col-sm-10'>
								<button
									id='signupBtn'
									type='submit'
									class='btn d-grid gap-2 col-6 mx-auto btn-primary'
								>Sign up</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src='/javascript/sign-up.js'></script>