<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<div class="principal-container">
	<div class="container">
		<div class="row">
			<div id="wrapper">
				<div class="col">
					
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="reading"
						data-mdb-ripple-color="dark"
					>
						Reading</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="eating"
						data-mdb-ripple-color="dark"
					>
						Eating</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="drinking"
						data-mdb-ripple-color="dark"
					>
						Drinking</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="sports"
						data-mdb-ripple-color="dark"
					>
						Sports</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="games"
						data-mdb-ripple-color="dark"
					>
						Games</button
					></div><div class="col">
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="coding"
						data-mdb-ripple-color="dark"
					>
						Coding</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="exercise"
						data-mdb-ripple-color="dark"
					>
						Exercise</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="movies"
						data-mdb-ripple-color="dark"
					>
						Movies</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="travel"
						data-mdb-ripple-color="dark"
					>
						Travel</button
					>
					<button
						type="button"
						class="interest-item btn btn-outline-primary btn-rounded" id="animals"
						data-mdb-ripple-color="dark"
					>
						Animals</button
					></div>
				</div>
			</div>
			<div class="col-md-7 form-content">
				<h1 class="title">High5!</h1>
				<!-- <text
					x="50"
					y="100"
					font-family="Verdana"
					font-size="55"
					fill="white"
					stroke="black"
					stroke-width="2"
				>
					High5!
				</text> -->
				<p>
					Are you bored? Don't have plans tonight? We have the perfect app for
					you. This app will help you find a close-knit group of people that you
					can vent to about your problems or share your excitement about your
					team winning the championship. If you're new to town or just want to
					connect with new people join High 5! High 5! allows you to create
					blogs, interact with blogs, and follow current members that have
					similar interests as you. Sign up today!
				</p>

				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputUsername3" class="col-sm-2 control-label"
							>Email</label
						>
						<div class="col-sm-10">
							<input
								type="username"
								class="form-control"
								id="inputEmail3"
								placeholder="username"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label"
							>Email</label
						>
						<div class="col-sm-10">
							<input
								type="email"
								class="form-control"
								id="inputEmail3"
								placeholder="Email"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label"
							>Password</label
						>
						<div class="col-sm-10">
							<input
								type="password"
								class="form-control"
								id="inputPassword3"
								placeholder="Password"
							/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"></script>


    <script src="script.js"></script>
  </body>
</html>