<div class='principal-container'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-4 img-content'>
				<img
					class='img-home img-thumbnail'
					src='https://bootdey.com/img/Content/avatar/avatar7.png'
				/>
			</div>
			<div class='col-md-7 form-content'>
				<h1 class='title'>High5!</h1>

				<p>
					Are you bored? Don't have plans tonight? We have the perfect app for
					you. This app will help you find a close-knit group of people that you
					can vent to about your problems or share your excitement about your
					team winning the championship. If you're new to town or just want to
					connect with new people join High 5! High 5! allows you to create
					blogs, interact with blogs, and follow current members that have
					similar interests as you. Sign up today!
				</p>
                <div class="interests-buttons">
                    {{> interest-buttons interests}
                </div>

				<form class='form-horizontal' role='form'>
					<div class='form-group'>
						<label
							for='inputEmail3'
							class='col-sm-2 control-label'
						>Email</label>
						<div class='col-sm-10'>
							<input
								type='email'
								class='form-control'
								id='inputEmail3'
								placeholder='Email'
							/>
						</div>
					</div>
					<div class='form-group'>
						<label
							for='inputPassword3'
							class='col-sm-2 control-label'
						>Password</label>
						<div class='col-sm-10'>
							<input
								type='password'
								class='form-control'
								id='inputPassword3'
								placeholder='Password'
							/>
						</div>
					</div>

					<div class='form-group'>
						<div class='col-sm-offset-2 col-sm-10'>
							<button type='submit' class='btn btn-default'>Sign up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
